apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-uvqz
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/e2e-demos-rzpn-tenant/quarkus/devfile-sample-code-with-quarkus-uvqz@sha256:4f0a4cadf8742559fc8b01243f63c1faff10e7d41285a80409e5ce701b7fdf33
        name: my-java-quarkus
        resources: {}
status: {}
